a {
    color: black;
}

a:hover {
    color: mediumslateblue;
}

img {
    border-radius: 50%;
}

li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: disc;
 }

p {
    text-align: justify;
    margin-bottom: 1em;
}
